div[projections-chart] {
  width: 100%;
  height: 100%;
}

div[projections-chart] .loading {
  position: relative;
  top: 30px;
}

.chart-controls {
  max-height: 90vh;
}

.chart-control_network-strategy {
  min-height: 130px;
}

.chart-controls_header {
  margin-bottom: 10px;
}