<div layout="column" class="chart-controls" layout-margin>
    <div flex="none" class="chart-controls_header">
        <md-subheader>Player</md-subheader>
        <md-divider></md-divider>
    </div>
    <div flex>
        <md-autocomplete md-selected-item="chartControlsController.chartControlsService.player"
                         md-search-text="chartControlsController.playerSearchText"
                         md-items="player in chartControlsController.getMatchedPlayers(chartControlsController.playerSearchText)"
                         md-item-text="chartControlsController.getFullPlayerName(player)"
                         placeholder="Select a player..."
                         md-selected-item-change="chartControlsController.chartControlsService.onPlayerSelected()">
            <md-item-template>
                <span md-highlight-text="chartControlsController.playerSearchText" md-highlight-flags="gi">{{player.name | ucfirst}}, {{player.team | ucfirst}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
    </div>

    <div flex="none" class="chart-controls_header">
        <md-subheader>Network Type</md-subheader>
        <md-divider></md-divider>
    </div>
    <md-content flex class="chart-control_network-strategy">
        <md-radio-group ng-model="chartControlsController.chartControlsService.networkStrategy" ng-change="chartControlsController.chartControlsService.onChange()">
            <md-radio-button value="perceptron">Perceptron</md-radio-button>
            <md-radio-button value="lstm">Long Short Term Memory</md-radio-button>
        </md-radio-group>
    </md-content>

    <div flex="none" class="chart-controls_header">
        <md-subheader>Inputs</md-subheader>
        <md-divider></md-divider>
    </div>
    <md-content flex>
        <md-list>
            <md-list-item ng-if="chartControlsController.chartControlsService.hasInputs()">
                <md-checkbox ng-model="chartControlsController.chartControlsService.allInputsSelected"
                             ng-change="chartControlsController.chartControlsService.setAllInputsSelected(chartControlsController.chartControlsService.allInputsSelected);chartControlsController.chartControlsService.onChange()">
                </md-checkbox>
                <p>Select All</p>
            </md-list-item>
            <md-list-item ng-repeat="input in chartControlsController.chartControlsService.inputs">
                <md-checkbox ng-model="chartControlsController.chartControlsService.inputs[input.name].selected"
                             ng-change="chartControlsController.chartControlsService.onChange()">
                </md-checkbox>
                <p>{{input.name}}</p>
            </md-list-item>
        </md-list>

        <div ng-if="!chartControlsController.chartControlsService.hasInputs() && !chartControlsController.chartsControlService.isRetrievingInputs">Select a player to see available inputs</div>
        <div layout="row" layout-align="center">
            <md-progress-circular md-mode="indeterminate" ng-if="chartControlsController.chartControlsService.isRetrievingInputs"></md-progress-circular>
        </div>
    </md-content>
</div>